div { 
    display: flex;
    justify-content: center;
}
    
p {
    /* border-radius: 45%; */
    margin: 0 20px;
    padding: 10px;
}

body {
    background-image: url(./katie-hong--9uey7asjS0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

section { 
    text-align: center;
    width: 200px;
    margin: 100px auto; 
    /* border: red solid 5px;   */
}

button { 
    margin: 30px;
    border: solid rgb(88, 86, 85) 2px;
}

.flying { 
    height: 50px;
}

#mother { 
    width: 100px;
}