div { 
    display: flex;
    justify-content: center;
    border: green solid 3px;
}
    
p {
    border: solid greenyellow 3px;
    margin: 20px;
    padding: 10px;
    /* background-color: green; */
    width: 80px;
}
